################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
bin/
obj/
.vs/
/Havan.RelatorioPowerBI.NgApp/package-lock.json
/.sonarlint
/Havan.RelatorioPowerBI.NgApp/.vscode
